.profile-header{
    background: url(../assets/img/profile.jpg) bottom/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    h1{
        margin-bottom: 200px;
    }
}